#!/usr/bin/env pwsh
####
# Local Configuration File
####
# @see:
#   https://github.com/Bromeego/Clean-Temp-Files/blob/master/Clear-TempFiles.ps1
# @since 2021-04-07
# @author stev leibelt <artodeto@bazzline.net>
####
#bo: general variable section
#$beVerbose = $false
#$logLevel = 1
#$logFilePath = ($PSScriptRoot + "\log")
#$lockFilePath = ($PSScriptRoot + "\data\CleanUpSystem.lock")
#$logFilePath = ($PSScriptRoot + "\log\\" + $currentDate + ".log")")
#eo: general variable section

#bo: path section
####
#You can add paths in here
#   The `path` could contain $user
#   If `path` contains $user, the script will automatically apply this path to all users in `C:\Users\<username>`
#
#If you want to, you can remove all pre shipped paths by declaring the $collectionOfTruncableObjects new.
#   $collectionOfTruncableObjects = New-Object System.Collections.ArrayList
#
#Example:
#   Following is a example without real data, you see the expected type and if it is mandatory or optional and default values
#   $collectionOfTruncableObjects.Add((Create-TruncableObject <string: path> [<int: days to keep old files = 1] [<bool: check for duplicates = $false] [<int: check for duplicates greater than megabyte = 64])) | Out-Null
#
#   Following is an example with real data
#   $collectionOfTruncableObjects.Add((Create-TruncableObject 'C:\Users\$user\...' 7 $true 32)) | Out-Null
####
#eo: path section
