#!/bin/bash
#this default is fine
local BE_VERBOSE=0
#this default is fine
local IS_DRY_RUN=0
#this default is fine
local ZFS_IS_AVAILABLE=$(test -f /usr/bin/zfs)
local ZFS_DATASET="<string: zfs_dataset>"
#this default is fine
local ZFS_MOUNT_POINT="/mnt/net_bazzline_rsync_backup"
#this default is fine
local ZFS_SNAPSHOT_NAME="net_bazzline_rsync_backup"
local RSYNC_COMMAND="/usr/bin/rsync --delete -avL --exclude={'.cache', '.composer'}"
local RSYNC_DESTINATION="<string: user>@<string: hostname or ip address>::<string: module_name>"
local RSYNC_HOST="<string: hostname or ip address>"
local RSYNC_SOURCE_PATH="/home/<string: user>/"
