<?php
/**
 * @author stev leibelt <artodeto@bazzline.net>
 * @since 2015-07-26
 */

return array(
    'net_bazzline_database_translation' => array(
        'translation_key_not_found_prefix' => '...',
        'database' => array(
            'name'      => 'translation',
            'tables'    => array(
                'local'         => 'locale',
                'message_keys'      => 'message_keys',
                'message_values'    => 'message_values'
            )
        ),
        'cache' => array(
            'is_enabled'    => true,
            'adapter_used'  => 'redis', //@link https://github.com/zendframework/zend-cache/tree/master/src/Storage/Adapter
            'redis' => array(
                //@link https://github.com/zendframework/zend-cache/blob/master/src/Storage/Adapter/RedisOptions.php
                'database'              => null,    //null|int
                'lib_options'           => null,    //null|array - @link http://github.com/nicolasff/phpredis#setoption
                'namespace'             => null,    //null|string
                'namespace_separator'   => null,    //null|string
                'password'              => null,    //null|string
                'persistence_id'        => null,    //null|string
                'resource_id'           => null,    //null|string
                'server'                => null     //null|string|array
                    //URI:   /path/to/sock.sock
                    //Assoc: array('host' => <host>[, 'port' => <port>[, 'timeout' => <timeout>]])
                    //List:  array(<host>[, <port>, [, <timeout>]])
            )
        )
    ),
    'translator' => array(
        'remote_translation' => array(
            //add a remote translation loader for each text domain
            //array('type' => 'NetBazzlineDatabaseTranslationLoader', 'text_domain' => 'your_text_domain')
        ),
    ),
);